{% extends 'base.html' %}
{% block title %} Login Here {% endblock title %}
{% block content %}
<div class="container mt-5 mb-5">
<form method="POST" class="shadow p-3 w-50" autocomplete="off">
    <h3> Login Here </h3>
    {% csrf_token %}
    <label> Username</label>
    <input type="text" class="form-control" name="username">
    <label> Password</label>
    <input type="password" class="form-control" name="password">
    <button type="submit" class="btn btn-success mt-2">Login</button>
    <p class="mt-2"> If you dont' have an account <a href="{% url 'register' %}" style="list-style-type:none;">Sign-Up </a></p>
</form>
</div>

{% endblock content %}


